spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8082

broker:
  order:
    command:
      exchange: ${ORDER_CREATE_EXCHANGE}
      queue: ${ORDER_CREATE_QUEUE}
      routing-key: ${ORDER_CREATE_ROUTING_KEY}
      dlx: ${ORDER_DLX}
      dlq: ${ORDER_DLQ}
    event:
      exchange: ${ORDER_CREATED_EXCHANGE}
      queue: ${ORDER_CREATED_QUEUE}
      routing-key: ${ORDER_CREATED_ROUTING_KEY}
      dlx: ${ORDER_CREATED_DLX}
      dlq: ${ORDER_CREATED_DLQ}